---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-palm:          600px;
$on-laptop:        800px;

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Tables-- to make use of the imported bootstrap styled tables
table{
    @extend .table, .table-bordered, .table-striped, .table-responsive;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
  padding: 0;
}

// @import "bootstrap"; 
// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "base",
    "layout",
    "syntax-highlighting"
;

// Override blockquote font size from _base.scss
blockquote {
    font-size: $base-font-size * 1.1;
}

// Import table and code block formatting from bootstrap
// @import "bootstrap"; 
// @import "bootstrap/variables";
//@import "bootstrap/normalize";
// @import "bootstrap/mixins";
//@import "bootstrap/mixins/text-emphasis";
//@import "bootstrap/type";
// @import "bootstrap/tables";
// @import "bootstrap/code";


// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";
// @import "bootstrap/mixins/text-emphasis";
//@import "bootstrap/mixins/image";

// // Reset and dependencies
// @import "bootstrap/normalize";
// @import "bootstrap/print";
// @import "bootstrap/glyphicons";

// // Core CSS
//@import "bootstrap/scaffolding";
// @import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/tables";
// @import "bootstrap/buttons";


// Set figure, figcaptions for caption text to be bounded to image width
figure {
   //background-color: #f8f8f8;
   display: table;
}

figure img {
    display: block;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    //background: #f8f8f8;
}

// Fix code block background coloring
.highlight {
    background: #f5f5f5;
    .highlighter-rouge & {
      background: #f5f5f5;
    }
}

// Add back in horizontal x-scrolling for overflow code blocks (otherwise bootstrap/code breaks this)
pre {
    overflow-x: auto;
}

pre code {
    overflow-wrap: normal;
    white-space: pre;
    background-color: #f5f5f5;
}

// Color Icons
.coloricon {
    > svg {
        display: inline-block;
        vertical-align: middle;
    }
}


// Description Lists
dl {
  margin-top: 0; // Remove browser default
  margin-bottom: $line-height-computed;
}
dt,
dd {
  line-height: $line-height-base;
}
dt {
  font-weight: bold;
}
dd {
  margin-left: 0; // Undo browser default
  padding-left: 30px;
}
